<section class="Screen Screen--purple">
  <div class="Screen-header">
    <%= image_tag("RussianNestingDoll.png", alt:"Line drawing of a Russian nesting doll", class: "Screen-thumbnail") %>
    <h2>Let's play with dolls! - Recursion example</h2>
  </div>
  <h3>Count how many nesting dolls we have</h3>
  <%= link_to "Count", { action: "count" }, class: "Button" %>
  <h2>Our Nesting Dolls</h2>
  <div><%= raw(@progress) %></div>
</section>
<div class="ButtonContainer">
  <%= link_to "Prev", set_theory_instagram_account_path, class: "Button PrevButton" %>
  <%= link_to "Next", linked_list_list_path, class: "Button NextButton" %>
</div>